---
const today = new Date();
---

<footer>
	&copy; {today.getFullYear()} <a href="https://github.com/vaakian">@vaakian</a>. All rights reserved.
</footer>
<style>
	footer {
		padding: 25px;
		text-align: center;
	}
</style>
